.container{
    display: flex;
    padding: 15px 100px;
    justify-content: space-evenly;
}
.left{
    background: #dee2e6;
    display: inline-block;
}
.right{
    width:530px;
    background: #dee2e6;
    display: inline-block;
}
.scan_image{
    display: inline-block;
}
.res-div{
    width: 100%;
}
.res-table{
    width: 100%;
}
.res-table th{
    font-size: 20px;
}
.res-table td{
    font-size: 18px;
}
.res-span{
    font-size: 25px;
    margin: 40px 0px;
}