body {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  align-items: center;
  background-color: #263343;
  padding: 8px 12px;
}

.navbar__logo {
  width: 33%;
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  width: 33%;
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 30px;
}

.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

@media screen and (max-width: 1350px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
  .navbar__logo {
    width: 100%;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
  .navbar__toggleBtn {
    display: block;
  }
  .navbar__menu.active {
    display: flex;
  }
}
