.scan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  margin: auto;
}
.scan-container__left {
  width: 35%;
  margin-right: 20px;
  min-width: 400px;
  padding: 10px;
}
.scan-container__right {
  width: 30%;
}

#cam {
  width: 100%;
}

.res-table {
  width: 100%;
  margin-bottom: 20px;
}

.res-table td,
.res-table th {
  text-align: center;
  font-size: 16px;
}

.res-table .table-body tr:nth-child(3) td {
  font-size: 20px;
  font-weight: bold;
  padding: 30px;
  background-color: #f7f7f7;
}

.inputs-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
}

#id_input {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  outline: none;
  margin-bottom: 10px;
}

.scan-start__button,
.apply__button {
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  background-color: #efefef;
}

.scan-start__button {
  margin-right: 10px;
}
#id_input:hover,
.scan-start__button:hover,
.apply__button:hover {
  box-shadow: 1px 1px 12px rgba(1, 1, 1, 0.2);
}

@media screen and (max-width: 800px) {
  .scan-container {
    flex-direction: column;
    width: 100%;
    height: initial;
  }
  .scan-container__left {
    min-width: initial;
  }
  .scan-container__right {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .res-table {
    width: 50%;
  }
  .inputs-buttons {
    width: 50%;
  }
}
