.main-area__table__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 20px;
}

.search {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-left: 20px;
}

.search-options {
  border: none;
  outline: none;
}

.search-input {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
}

.search-icon {
  color: grey;
}

.addBtn {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
}

.search:hover,
.addBtn:hover {
  box-shadow: 1px 1px 12px rgba(1, 1, 1, 0.2);
}