<html>
<head>
    <meta charset="utf-8"/>
    <title>jsQR Demo</title>
    <link
            href="https://fonts.googleapis.com/css?family=Ropa+Sans"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <script src="../static/javascript/jsQR.js" ></script>
    <script src="../static/javascript/navbar.js" defer></script>
    <script
            src="https://kit.fontawesome.com/a434b3ffc3.js"
            crossorigin="anonymous"
    ></script>
</head>
<body>
<nav class="navbar">
    <div class="navbar__logo">
        <i class="fas fa-school"></i>
        <a href="">OO여고 불량교복 인식 시스템</a>
    </div>
    <ul class="navbar__menu">
        <li><a href="/">홈</a></li>
        <li><a href="/scanner">스캐너</a></li>
        <li><a href="/penalty">벌점기록부</a></li>
        <li><a href="/attendance">출석부</a></li>
    </ul>

    <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
    </a>
</nav>

<article class="main-area__qrcode">
    <div class="qrcode__title">QR코드 스캔</div>
    <div class="qrcode">
        <div id="loadingMessage">
            🎥 Unable to access video stream (please make sure you have a webcam
            enabled)
        </div>
        <canvas id="canvas" hidden></canvas>
    </div>
    <div id="output" hidden>
        <div id="outputMessage">이름: 신은수 <br/>학번: 21319</div>
        <div hidden><b>Data:</b> <span id="outputData"></span></div>
    </div>
</article>

<script>
    var video = document.createElement("video");
    var canvasElement = document.getElementById("canvas");
    var canvas = canvasElement.getContext("2d");
    var loadingMessage = document.getElementById("loadingMessage");
    var outputContainer = document.getElementById("output");
    var outputMessage = document.getElementById("outputMessage");
    var outputData = document.getElementById("outputData");

    function drawLine(begin, end, color) {
        canvas.beginPath();
        canvas.moveTo(begin.x, begin.y);
        canvas.lineTo(end.x, end.y);
        canvas.lineWidth = 4;
        canvas.strokeStyle = color;
        canvas.stroke();
    }

    // Use facingMode: environment to attemt to get the front camera on phones
    navigator.mediaDevices
        .getUserMedia({video: {facingMode: "environment"}})
        .then(function (stream) {
            video.srcObject = stream;
            video.setAttribute("playsinline", true); // required to tell iOS safari we don't want fullscreen
            video.play();
            requestAnimationFrame(tick);
        });

    function tick() {
        loadingMessage.innerText = "⌛ Loading video...";
        if (video.readyState === video.HAVE_ENOUGH_DATA) {
            loadingMessage.hidden = true;
            canvasElement.hidden = false;
            outputContainer.hidden = false;

            canvasElement.height = video.videoHeight;
            canvasElement.width = video.videoWidth;
            canvas.drawImage(
                video,
                0,
                0,
                canvasElement.width,
                canvasElement.height
            );
            var imageData = canvas.getImageData(
                0,
                0,
                canvasElement.width,
                canvasElement.height
            );
            var code = jsQR(imageData.data, imageData.width, imageData.height, {
                inversionAttempts: "dontInvert",
            });
            if (code) {
                drawLine(
                    code.location.topLeftCorner,
                    code.location.topRightCorner,
                    "#FF3B58"
                );
                drawLine(
                    code.location.topRightCorner,
                    code.location.bottomRightCorner,
                    "#FF3B58"
                );
                drawLine(
                    code.location.bottomRightCorner,
                    code.location.bottomLeftCorner,
                    "#FF3B58"
                );
                drawLine(
                    code.location.bottomLeftCorner,
                    code.location.topLeftCorner,
                    "#FF3B58"
                );

                outputMessage.hidden = true;
                outputData.parentElement.hidden = false;
                outputData.innerText = code.data;
                //소리내면 좋겠다.

                //다음 화면으로 넘어간다. (사용자 정보를 가지고.)
            } else {
                outputMessage.hidden = false;
                outputData.parentElement.hidden = true;
            }
        }
        requestAnimationFrame(tick);
    }
</script>
</body>
</html>
